.highlight-card__avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}


.highlight-card__avatar--user-card{
  width: 40px;
  height: 40px;
}