.highlight-card__avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}


.highlight-card__avatar--user-card{
  width: 42px;
  height: 42px;
}

.highlight-card__avatar--member{
  width: 155px;
  height: 155px;
  border: 1px solid black;
}