.highlights__track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
}

.highlights {
  overflow: hidden;

  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  width: 100%;
  max-width: 1460px;
}
.highlights__track::-webkit-scrollbar {
  display: none;
}

.highlights::-webkit-scrollbar {
  display: none;
}

.highlight-card {
  scroll-snap-align: start;
}
