.user-name {
  font-size: 16px;
  font-weight: 500;
}

.user-name--primary {
  color: white;
}

.user-name--user-card{
  color: #0F0F0F;
  letter-spacing: -0.2;
  font-size: 16px;
  font-weight: 700;
}
