.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  padding: clamp(1rem, 10vh, 10px) clamp(1rem, 6vw, 8rem);
  background-color: #f3f3f3;
}

.navbar__items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 0;
  width: 100%;
  max-width: 1460px;
}

.navbar__buttons {
  display: flex;
  gap: 14px;
}

.navbar__buttons a {
  text-decoration: none;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  cursor: pointer;
}
.navbar__avatar {
  display: none;
  cursor: pointer;
}

@media (max-width: 1329px) {
  .navbar__avatar {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .navbar__logo img {
    width: 34px;
    height: 34px;
  }
}
