
.community {
  background-color: #ecfbc2;
  display: flex;
  flex-direction: column;
  padding: 140px 134px;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.community__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* padding: 0 134px; */
  width: 100%;
  gap: 30px;
  max-width: 1460px;
}

.community__title {
  font-size: 88px;
  line-height: 82px;
  letter-spacing: -2px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 0;
  width: 650px;
}

.community__subtitle {
  color: #6c6c6c;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
