.skill-card {
  width: 350px;
  height: 221px;
  background-color: #fefefe;
  border: 1px solid #b6b6b6;
  border-radius: 20px;
}

.skill-card__location-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skill-card__header {
  display: flex;
  gap: 10px;
}
